<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME PAGE</title>
</head>
<body style="text-align: center;">
  <h1 style="color: cadetblue; background-color: black;" > Welcome to the home page!</h1>
  <p> Your name is <strong>{{name}}</strong>.</p>
  <p> You are <strong>{{age}} years</strong> old.</p>
  <p> Your email is <strong>{{email}}</strong>.</p>
  <p> You live in <strong>{{town}}</strong>.</p>
  <p> Your major is <strong>{{ major }}</strong>.</p>
  <p> You will graduate in <strong>{{ semester }} {{ year }}</strong></p>
</body>
</html>